/*  your css code here. If applicable */
.box{
	
	width:300px;
	height:200px;
	background-color:whitesmoke;
	padding-top:30px;
	padding-bottom:15px;
	text-align:center;
	margin-left:360px;
	margin-top:-180px;
}
h3{
	margin-left:30px;
	width:330px;
}
#email{
	width:250px;
	padding:5px;
	border:none;
}
#pass{
	width:250px;
	padding:5px;
	border:none;
}
#login{
	width:250px;
	padding:5px;
	border:none;
	background-color:blue;
	color:white;
	border-radius:3px;
}
#forget
{
	color:royalblue
}
#create{
	width:150px;
	padding:5px;
	border:none;
	background-color:limegreen;
	color:white;
	border-radius:5px;
    text-decoration: none;
}

}